# MongoDB Atlas Connection String
MONGODB_URI=mongodb+srv://lszkset_db_user:taZhkiTn5rX5j85X@prymeapplications.fivww3i.mongodb.net/pryme_support?retryWrites=true&w=majority&appName=PrymeApplications

# API Port
PORT=3000

# Admin Dashboard Password
ADMIN_PASSWORD=PrymeAdmin2026

# LicenseAuth Credentials
LICENSEAUTH_NAME=PrymeOS
LICENSEAUTH_OWNERID=3MrJXJ9eu5
LICENSEAUTH_SECRET=030f1ef6bbbea2c25da627804253b86410c15f2e4d266203
LICENSEAUTH_VERSION=1.0
LICENSEAUTH_URL=https://licenseauth.help/api/1.3/
