[Unit]
Description=Pryme OS Update Checker
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/pryme-update-check
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
